.feature_container{
    background: linear-gradient(var(--cor2), var(--azul-bb));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 7px;
}

.features{
    width: 362px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--azul-bb);
    margin: 2em 2% 0;
    padding: 1em;
    box-shadow: 5px 5px 40px var(--cor1);
}

.ft-img{
    border-radius: 15px;
    padding: 1em;
    width: 90%;
}

.title_feature{
    font-size: 25px;
    font-family: var(--fonteCaveat);
    font-weight: 700;
    color: var(--cor1);
}

.content_feature{
    font-size: 14px;
}

@media screen and (min-width:1024px) {
    .features{
        width: 20%;
        
    }
}