.sub_container{
    background-color: var(--whitesmoke);
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--whitesmoke);
    font-size: 18px;
    font-weight: 700;
}

.sub_content{
    background-color: var(--azulMedio);
    width: 70%;
    white-space:pre;
    border-radius: 15px;
}

.input_mail{
    width: 50%;
    padding: 0.5em;
    border-radius: 12px;
}